<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style2.css">
  <title>Log in form</title>
</head>
<body>
<div class="container">
  <div class="nav">
    <ul>
      <p></p>
      <li class="header"><a>Login</a></li>
      <li class="header"><a>About Us</a></li>
      <li class="header"><a>Contact</a></li>
      <li class="header"><a>Register</a></li>
    </ul>
  </div>
  <div class="content">
    <h2>Log in Form</h2>
    <form action="">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Password">
    <button name="get started">GET STARTED</button>
    </form>
    <p id="up">Forgot password?</p>
    <p id="bottom">CREATE ACCOUNT</p>
  </div>
  <div class="footer">
    <p> &copy 2019 Key.All Rights Reserved|Design by <span>Assia</span></p>
  </div>
</div>  
</body>
</html>